/* Nav link transition properties */
/* AAED4559*/
*{padding: 0;    
    margin: 0; 
    overflow-x: hidden; 
    /* width: 100%; */
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header{
    background-image: url("Images/Residential-Living-Room-Interior-Design-by-Decor-City-Nigeria-02.jpg");
    
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode: darken;
    /* opacity: 0.4; */
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    /* background-color:#1A2442; */
    color:rgb(91, 122, 136);
    border-bottom: 3px solid brown;
}
header .current a{
    color: brown;
    text-shadow: .5px .5px .5px;
}
header h1 img{
    display: block;
    margin: 0% 50% 0% 50%;
    text-align: center;
    /* border: 1px red solid; */
    width: 60px;
    height: 60px;
    padding-top: 10px;
}
.white{
    color: #fff;
}
header a{
    text-decoration: none;
    color: #fff;   
    /* border-radius: 10px; */
    /* font-size: 1.5rem; */
    padding: 5px;
    transition-property: all;
    transition-duration: .5s;
}

header a:hover{
    color: rgb(72, 132, 160);
    /* color: #E3BCC0; */
    background-color: #ffffff;
    width: fit-content;
    /* height: 20%; */
    border-radius: 30%;
    padding: 20px 20px;
}

header p{
    margin-bottom: 40px;
    font-family: 'Dancing script', 'cursive';
}
.site-nav li{
    text-decoration: none;
    list-style: none;
    float: left;
    margin-right: 3%;
   overflow: hidden; 
   padding: 5px 0px;
    
    
}
.site-nav{
    margin-bottom: 40px;
    padding-bottom: 5px;
    
}

.intro{
    padding: 50px 70px 50px 70px;
    color: #000;
    background-color: #BDC9AA;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    /* text-shadow: 1px 1px 1px; */
   
}
.intro h2{
    text-align: center;
    color:#000;
    overflow: hidden;

}
.intro p{
    margin: 7% 7%;
}

.newsletter{
    text-align: center;
    background-color: #1A2442;
    color: #fff;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    /* border: 1px red solid; */
}
.newsletter h3{
    color: #9CC3D5FF;
    font-size:30px ;
    width: 100%;
    /* margin-right: 5rem; */
}   
.newsletter label{
    color: #9CC3D5FF;
    font-size: 90%;
    position: absolute;
    left: 28%;
    
    
}
.newsletter form{
    text-align: center;
    color: #BDC9AA;
    font-size: 30px;
    line-height: 30px;
    /* margin-left: 50px; */
}
.subscribe{
    display: block;
    /* font-size: 1rem; */
    background-color: brown;
    color: #9CC3D5FF;
    padding: 10px 30px;
    text-align: left;
    border-radius: 2px;
    width: 100%;
    /* box-sizing: border-box ; */
    transition: all .5s;
  
}
.subscribe:hover{
    color: #fff;
    background-color:#ce2828 ;
    border-radius: 10px;
    /* transition: scale(1.5); */
}
input[type="email"],
input[type="text"]{
    font-size: 90%;
    padding: 10px;
    width: 30%;
    margin-bottom: 10px;
}

.labelposition{
    text-align: left;
    border: 1px solid red;
}
/* label[for="First-name"],
label[for="last-name"] {
    text-align: right;
} */


/*        PHOTO GRID     */
#photo-grid{
    
    background-color: #F5F5DC;
    border-bottom: 2px solid brown;
    margin-bottom: 0;
    
}

#photo-grid img{
    width: 300px;
    height: 300px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5%;
  
    
}
#photo-grid .image1,
#photo-grid .image2,
#photo-grid .image3,
#photo-grid .image4,
#photo-grid .image5{
    padding: 2%;
}

#photo-grid .image-description1,
#photo-grid .image-description2,
#photo-grid .image-description3,
#photo-grid .image-description4{
    position: relative;
    text-align: center;
    font-size: small;
    box-sizing:border-box;
    color: #fff;
    padding: 10px;
    background-color: rgba( 103, 79, 79,.5);
    border-radius: 40px;
    /* transition-property:all; */
    
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

/*     END OF PHOTO GRID     */




/*     SERVICES     */
#services{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    /* background-color: rgba(157, 255, 0,.5); */
    background-color: #BDC9AA;
    overflow-x: hidden;
    /* display: flex; */
}

#services h2{
    display: block;
    padding: 2%;
    color: brown;
    text-shadow: 1px 1px 1px #000;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

#services img{
    /* width: 100%; */
    width: 300px;
    /* box-sizing: border-box; */
    height: 300px;
    margin-bottom: 5%;
    
}

#services img:hover{
    transition: all .5s;
    transform: scale(1.1);
}

.lightening,
.bedding,
.decorations,
.furniture{
        display: inline-block;
        padding: 2%;
        width: 20%;
        /* margin-bottom: 5%; */
        /* text-align: center; */
        float: none;
       
}




@media screen and (max-width:700px){
    *{
        padding: 0;
        margin: 0;
    }
    #services{
        width: 100%;
        /* padding: 2px;
        margin: 5px; */
        box-sizing: border-box;
        overflow-x: hidden;
        text-align: center;
        /* display: flex;
       justify-content: space-evenly;
       flex-wrap: wrap; */
    }
    #services .container2{
       
       text-align: center;
       float: none;
       width: 100%;
       margin-bottom: 20px;
       overflow: none;
       padding: 20px;
       box-sizing: border-box;
    }
    .lightening,
    .bedding,
    .decorations,
    .furniture{
        /* display: block; */
        padding: 10px;
        /* box-sizing: border-box; */
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        float: none;
       
    }
    .image-description01,
    .image-description02,
    .image-description03,
    .image-description04{
        text-align: center;
        padding: 5%;
        float: none;
        margin-right: 10px;
    }
    .newsletter h3{
        margin-bottom: 30px;
        text-align: center;
    }
}
    

/*        END OF SERVICES     */


.bigpicture{
    display: block;
    text-align: center;
    width: 100%;
    /* border: 1px solid red; */

}

.multiple{
    display: flex;
    flex-wrap: wrap;
   
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.multiple img{
    
    width: 250px;
    height: 250px;
    /* text-align: center; */
    /* border: 1px solid red; */
    overflow:hidden;
    
}
.multiple img:hover{
    width: 250px;
    height: 250px;
    transition: all .5s;
    transform: scale(1.1);
    overflow: hidden;
}





/*    FOOTER   */
footer{
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    color: #9CC3D5FF;
    background-color: #1A2442;
    font-weight: bold;
}




/*            ABOUT US PAGE          */

.about-us{
    background-image: url(images/Screenshot\ 2025-10-25\ 113553\ \(1\).png);
    background-repeat: no-repeat;
    /* padding: 10%; */
    text-align: center;
    background-size: cover;
    background-position: center;
}
.about-us h1 {
    text-align: center;
    color: #BDC9AA;
    overflow: hidden;
    margin-top: 2%;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    
}
/* .story{
    font-family: "Poppins", sans-serif;
    font-size: larger;
} */
.story h2{
    text-align: center;
    margin: 2%;
}
.about-us p{
    margin: 5% 20%;
    display: inline-block;
    background-color: #ac835b;
    padding: 5% 10%;
    text-align: left;
}

.subhead{
    
    color: #000;
    display: block;
    margin-bottom: 5%;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}




/*    ABOUT PAGE ENDS   */




/*   CONTACT US PAGE   */

#contact-wrap{
    /* font-weight: bold; */
    background-color: #BDC9AA;
}
.contact-h1{
    text-align: center;
    color: #BDC9AA;
    overflow: hidden;
    margin-top: 2%;
    background-color: #fff;
    padding: 20px;
    display: block;
}

.contact{
    margin: 10%;
    /* padding-bottom: 10%; */
    text-align: center;
    /* width: 40%; */
    
}
#social-media{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    display: block;
    text-align: center;
}
#social-media a, a{
    text-decoration: none;
    color: #1A2442;
    transition: all;
}
a:hover, #social-media a:hover{
    color: #000;
    font-weight: bold;
}
#social-media .container3{
    display: inline-block;
    width: 80%;
    text-align: center;
    /* margin-right: 10px; */
  
    padding: 30px;
    box-sizing: border-box;
    /* justify-content: space-around; */
}
.facebook,
.whatsapp,
.instagram{
    display: inline-block;
    margin: 2%;
    font-size:small;
   
    /* width: 20%; */
    
}
#social-media img{
    width: 90px;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}
.brown{
    color: #9CC3D5FF;
    display: block;
    margin: 20px;
}
.contact img{
    width: 20px;
}

